<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCPOS_Dane_WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCPOS_Dane_WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <PCPOS_Dane_WF.Properties.Settings>
            <setting name="Tytuł" serializeAs="String">
                <value>Aplikacja do sprawadzania utargów z PCPOS / PCMarket / SAP </value>
            </setting>
        </PCPOS_Dane_WF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PCPOS_Dane_WF.Properties.Settings>
            <setting name="PCPOS_Dane_WF_PCPOSDANE_PCPOS_DataFromSql" serializeAs="String">
                <value>http://localhost/PCPOS_WebServiceSqlData/PCPOS_DataFromSql.asmx</value>
            </setting>
        </PCPOS_Dane_WF.Properties.Settings>
    </applicationSettings>
</configuration>